<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Oturum Aç</title>
    <link rel="stylesheet" href="/css/oturumac.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript" src="/javascript/home.js"></script>
</head>

<body>


    <div class="container" id="container" style="    margin-top: 275px;
    width: 550px;
    position: absolute;
    height: 1205px;">
        <form action="/patronuye" method="POST" enctype="multipart/form-data" style="    margin-top: -30px;">

            <div class="form-container sign-up-container">
                <h1>Create</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" style="color: black;" name="mekan_Adi" placeholder="Mekanın Adını Giriniz"
                    required=”required” />
                <input type="text" style="color: black;" name="uye_Adi_Soyadi"
                    placeholder="Adınızı ve Soyadınızı Giriniz" required=”required” />
                <input type="password" style="color: black;" name="mekan_Sifre" placeholder="Şifre Belirleyin"
                    required=”required” />
                <input type="text" style="color: black;" name="mekan_lokasyon" placeholder="Lokasyon Bilgisi Giriniz" />


                <p>

                    <input type="file" placeholder="Resim Seç" multiple="false" accept="image/*" id="finput"
                        name="İmageUpload" onchange="Upload()" required="required">

                </p>

                <input type="time" style="    color: black;
                margin-top: -10px; " name="mekan_acilisSaati" placeholder="Mekan Açılış Saatini Yazınız" />
                <p class="acilissaati">
                    Mekan Açılış Saatini Yazınız
                </p>
                <p class="kapanissaati">
                    Mekan Kapanış Saatini Yazınız
                </p>

                <input type="time" style="color: black; font-weight: bold;" name="mekan_kapanisSaati"
                    placeholder="kapanis" />
                <p class="paketsiparis">
                    Paket Sipariş Var mı ?
                </p>


                <select name="kategori" style=" color: black;
                left: 350px;
                height: 25px;
                top: 407px;
                font-weight: bold;
                font-size: 15px;
                position: absolute;" class="kategori">

                    <option value="Pizza">Pizza</option>
                    <option value="Balık">Balık</option>
                    <option value="Hamburger">Hamburger</option>
                    <option value="Çorba">Çorba</option>
                </select>
                <select name="paketSiparis" class="varmi" style="width: 94px;
                height: 30px;
                position: absolute;
                left: 84px;
                top: 410px;
                font-weight: bold;
                font-size: 15px;
                color: black;" id="varmi">
                    <option style="color: black;">Var</option>
                    <option style="color: black;">Yok</option>

                </select>
                <!---- BAŞLIKLAR-->
                <h1 class="menuOlusturAciklama">Restaurant Menüsünü Oluşturabilirsiniz</h1>
                <h1 class="yemekbaslik">Yemek</h1>
                <h1 class="fiyatbaslik">Fiyat</h1>
                <h1 class="icecekbaslik">İçecek</h1>
                <h1 class="fiyatbaslik2">Fiyat</h1>


                <p class="kategori">
                    Mekanınızın kategorisini seçiniz
                </p>

                <!-- MEKAN YİYECEKLERİ-->
                <input type="text" placeholder="Ürün Giriniz" name="yemek1" class="mekanMenu1" required>
                <input type="text" placeholder="Ürün Giriniz" name="yemek2" class="mekanMenu2" required>
                <input type="text" placeholder="Ürün Giriniz" name="yemek3" class="mekanMenu3" required>
                <input type="text" placeholder="Ürün Giriniz" name="yemek4" class="mekanMenu4" required>
                <input type="text" placeholder="Ürün Giriniz" name="yemek5" class="mekanMenu5" required>
                <input type="text" placeholder="Ürün Giriniz" name="yemek6" class="mekanMenu6" required>
                <input type="text" placeholder="Ürün Giriniz" name="yemek7" class="mekanMenu7" required>
                <input type="text" placeholder="Ürün Giriniz" name="yemek8" class="mekanMenu8" required>
                <input type="text" placeholder="Ürün Giriniz" name="yemek9" class="mekanMenu9" required>
                <input type="text" placeholder="Ürün Giriniz" name="yemek10" class="mekanMenu10" required>
                <!-- MEKAN İÇECEKLERİ-->
                <input type="text" placeholder="İçecek Giriniz" name="icecek1" class="mekanİcecek1" required>
                <input type="text" placeholder="İçecek Giriniz" name="icecek2" class="mekanİcecek2" required>
                <input type="text" placeholder="İçecek Giriniz" name="icecek3" class="mekanİcecek3" required>
                <input type="text" placeholder="İçecek Giriniz" name="icecek4" class="mekanİcecek4" required>
                <input type="text" placeholder="İçecek Giriniz" name="icecek5" class="mekanİcecek5" required>
                <input type="text" placeholder="İçecek Giriniz" name="icecek6" class="mekanİcecek6" required>
                <input type="text" placeholder="İçecek Giriniz" name="icecek7" class="mekanİcecek7" required>
                <input type="text" placeholder="İçecek Giriniz" name="icecek8" class="mekanİcecek8" required>
                <input type="text" placeholder="İçecek Giriniz" name="icecek9" class="mekanİcecek9" required>
                <input type="text" placeholder="İçecek Giriniz" name="icecek10" class="mekanİcecek10" required>

                <!--- MEKAN YİYECEK FİYATLARI-->

                <input type="number" class="fiyatyemek" placeholder="Fiyat10₺" id="quantity" name="yemekfiyat1" min="1"
                    required>
                <input type="number" class="fiyatyemek2" placeholder="Fiyat10₺" id="quantity" name="yemekfiyat2" min="1"
                    required>
                <input type="number" class="fiyatyemek3" placeholder="Fiyat10₺" id="quantity" name="yemekfiyat3" min="1"
                    required>
                <input type="number" class="fiyatyemek4" placeholder="Fiyat10₺" id="quantity" name="yemekfiyat4" min="1"
                    required>
                <input type="number" class="fiyatyemek5" placeholder="Fiyat10₺" id="quantity" name="yemekfiyat5" min="1"
                    required>
                <input type="number" class="fiyatyemek6" placeholder="Fiyat10₺" id="quantity" name="yemekfiyat6" min="1"
                    required>
                <input type="number" class="fiyatyemek7" placeholder="Fiyat10₺" id="quantity" name="yemekfiyat7" min="1"
                    required>
                <input type="number" class="fiyatyemek8" placeholder="Fiyat10₺" id="quantity" name="yemekfiyat8" min="1"
                    required>
                <input type="number" class="fiyatyemek9" placeholder="Fiyat10₺" id="quantity" name="yemekfiyat9" min="1"
                    required>
                <input type="number" class="fiyatyemek10" placeholder="Fiyat10₺" id="quantity" name="yemekfiyat10"
                    min="1" required>

                <!--- MEKAN İÇECEK FİYATLARI -->
                <input type="number" class="fiyaticecek" placeholder="Fiyat10₺" id="quantity" name="icecekfiyat1"
                    min="1" required>
                <input type="number" class="fiyaticecek1" placeholder="Fiyat10₺" id="quantity" name="icecekfiyat2"
                    min="1" required>
                <input type="number" class="fiyaticecek3" placeholder="Fiyat10₺" id="quantity" name="icecekfiyat3"
                    min="1" required>
                <input type="number" class="fiyaticecek4" placeholder="Fiyat10₺" id="quantity" name="icecekfiyat4"
                    min="1" required>
                <input type="number" class="fiyaticecek5" placeholder="Fiyat10₺" id="quantity" name="icecekfiyat5"
                    min="1" required>
                <input type="number" class="fiyaticecek6" placeholder="Fiyat10₺" id="quantity" name="icecekfiyat6"
                    min="1" required>
                <input type="number" class="fiyaticecek7" placeholder="Fiyat10₺" id="quantity" name="icecekfiyat7"
                    min="1" required>
                <input type="number" class="fiyaticecek8" placeholder="Fiyat10₺" id="quantity" name="icecekfiyat8"
                    min="1" required>
                <input type="number" class="fiyaticecek9" placeholder="Fiyat10₺" id="quantity" name="icecekfiyat9"
                    min="1" required>
                <input type="number" class="fiyaticecek10" placeholder="Fiyat10₺" id="quantity" name="icecekfiyat10"
                    min="1" required>



                <div style="color:red;"><%=hata%></div>
                <button href="Login" type=" submit" style="background-color: #fc5c00!;
                margin-top: 550px;
                height: 50px;
                font-size: 15px;
                " class="mekanac">Mekan Aç</button>


            </div>

    </div>

    </form>


    </div>
    <footer class="footer" style="    background-color: #fc5c00;
    margin-top: 2050px;">
        <div class="footer-left col-md-4 col-sm-6">
            <p class="about">
                <span> Söyle Gelsin</span> İstanbul'da nerede ne yenir? sorusunun cevabını,
                sizlere yanıtlıyoruz. Sipariş sistemimizle birlikte siparişlerini alıp ,
                sizlere her zaman hizmet veriyoruz.
            </p>

        </div>
        <div class="footer-center col-md-4 col-sm-6">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Üsküdar 5450</span> İstanbul</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p> 0(216) 943 2323</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#"> soylegelsin@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
            <img src="">
            <p class="menu">
                <a href="#"> Anasayfa</a> |
                <a href="#"> Hakkımızda</a> |
                <a href="#"> Sponsorlarımız</a> |
                <a href="#"> Oturum Aç</a> |
            </p>
            <p class="name"> Soyle Gelsin &copy; 2020</p>
        </div>
    </footer>

</body>